#objects
**/*.o
**/.deps/
pnjb-0.0.0.tar.gz
src/plataform/linux/pnjb

#doc directory
doc/html/
**/*.html

#resources no used
Resources/UNUSED/


.dirstamp


# http://www.gnu.org/software/automake

**/Makefile.in
**/Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

/stamp-h1
/config.h.in
/config.guess
/PNJB.kdev4
/config.status
/config.log
/config.sub




#kdevelop
/.kdev4
pnjb.includes
**/.kdev_include_paths
**/*.kdev4
**/*.kate-swp

**/*~
**/.directory


#netbeans
nbproject/



#QtCReator
*.creator
*.config
*.creator
*.creator.user
*.files
*.includes
